@{
    ViewData["Title"] = "Error";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Something went wrong.</p>
        <p class="lead">
            An error occurred while processing your request.
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
    </div>
</div>
