html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bi-cart {
    font-size: 15px;
}
.search-input:focus {
    outline: none;
}

.search-form {
    padding-left: 6px;
    padding-top: 8px;
}

.search-btn {
    width: 40px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.search-btn:hover {
    background-color: #eaeaea;
}

.search-container {
    height: 50px;
}

.bi-star-fill {
    cursor: pointer;
}

.stars-yellow {
    color: rgb(254, 189, 105);
}


label.error {
    color: #dc3545;
}

.product-img {
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product .card {
    height: 370px;
    margin-bottom: 10px;
}

.carousel {
    max-height: 500px;
}

.carousel img {
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-url-btn {
    float: right;
}

.notifications-container .list-group {
    position: absolute;
}

.notifications-container .dropdown-menu {
    white-space: normal;
    width: 450px;
}
.notifications-container .dropdown-menu .dropdown-item {
    white-space: normal;
}
