html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bi-cart {
    font-size: 15px;
}
.search-input:focus {
    outline: none;
}

.search-form {
    padding-left: 6px;
    padding-top: 8px;
}

.search-btn {
    width: 40px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.search-btn:hover {
    background-color: #eaeaea;
}

.search-container {
    height: 50px;
}

.bi-star-fill {
    cursor: pointer;
}

.stars-yellow {
    color: rgb(254, 189, 105);
}

.card img {
    max-height: 220px;
}
