@using SimpleShoppingApp.Models.Notifications
@model NotificationsViewModel

<div class="dropdown notifications-container">
    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Notifications <span class="new-notifications-count">(@Model.NewNotificationsCount)</span></a>
    <ul class="dropdown-menu">
        @if (Model.Notifications.Count() > 0)
        {
            @foreach (var notification in Model.Notifications)
            {
                <li id="n-@notification.Id" class="list-group-item">
                    @if (!notification.IsRead)
                    {
                        <span style="font-size: 10px;">NEW</span> <br />

                    }
                    <a class="dropdown-item" href="@(string.IsNullOrWhiteSpace(notification.Url) ? "#" : notification.Url)">@notification.Text</a>
                </li>
            }

        }

        else
        {
            <li class="list-group-item">No notifications</li>
            
        }
    </ul>
    @Html.AntiForgeryToken()

</div>