@model CategoryProductsViewModel
@{
    ViewData["Title"] = Model.CategoryName;
}

<h1>@ViewData["Title"] - @Model.TotalProductsCount products</h1>

<partial name="_ListProducts" model="@Model.ProductsPerPage" />
