@model IEnumerable<ListProductsViewModel>
@{
    ViewData["Title"] = "Search";
}

<h2>Search term: @ViewData["Name"]</h2>

@if (Model.Count() == 0)
{
    <h5>No products found</h5>
}
else
{
    <partial name="_ListProducts" />
}
